@import url("base.css");

/*=============== HEADER ===============*/
.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: top 0.2s ease-in-out;
}

.custom-nav-up {
  opacity: 0;
  pointer-events: none;
}

/*=============== NAV ===============*/
.custom-nav {
  height: var(--header-height);
}

.custom-nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.custom-nav__logo-img {
  width: 3.5rem;
}

.custom-nav__logo:hover {
  color: var(--first-color);
}

.custom-nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.custom-nav__toggle-menu, .custom-nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.custom-nav__toggle-close {
  opacity: 0;
}

.custom-container {
  padding-right: 0;
}

@media screen and (max-width: 1118px) {
  .custom-nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .custom-nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .custom-nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }

  .custom-nav__logo-img {
    width: 2rem;
  }
}

.custom-nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.custom-nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.custom-show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.custom-show-icon .custom-nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.custom-show-icon .custom-nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.custom-dropdown__button {
  cursor: pointer;
}

.custom-dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.custom-dropdown__content, .custom-dropdown__group, .custom-dropdown__list {
  display: grid;
}

.custom-dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.custom-dropdown__content {
  row-gap: 1.75rem;
}

.custom-dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.custom-dropdown__group:first-child {
  margin-top: 1.25rem;
}

.custom-dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.custom-dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.custom-dropdown__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.custom-dropdown__list {
  row-gap: 0.25rem;
}

.custom-dropdown__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.custom-dropdown__link:hover {
  color: var(--title-color);
}

/* Rotate dropdown icon */
.custom-show-dropdown .custom-dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .custom-dropdown__group {
    padding-left: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .custom-nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-around;
  }

  .custom-nav__toggle {
    display: none;
  }

  .custom-nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  .custom-nav li {
    display: flex;
  }

  .custom-nav__link {
    padding: 0;
  }

  .custom-nav__link:hover {
    background-color: initial;
  }

  /* Dropdown */
  .custom-dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .custom-dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .custom-dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  .custom-dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .custom-dropdown__group:first-child, .custom-dropdown__group:last-child {
    margin: 0;
  }

  .custom-dropdown__list {
    row-gap: 0.75rem;
  }

  .custom-dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .custom-dropdown__icon i {
    font-size: 2rem;
  }

  .custom-dropdown__title {
    font-size: var(--normal-font-size);
  }

  .custom-dropdown__link {
    font-size: var(--small-font-size);
  }

  .custom-dropdown__link:hover {
    color: var(--first-color);
  }

  .custom-dropdown__item {
    cursor: pointer;
  }

  .custom-dropdown__item:hover .custom-dropdown__arrow {
    transform: rotate(180deg);
  }

  .custom-dropdown__item:hover > .custom-dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

@media screen and (min-width: 1152px) {
  .custom-container {
    margin-inline: auto;
  }
}
