.carousel-wrapper {
    padding: 50px 0;
    position: relative;
    margin: 120px 0;
    width: 100%;
    overflow: hidden;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item-custom {
    min-width: 100%;
    box-sizing: border-box;
    background: aliceblue;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 1s forwards;
    display: none;
}
.carousel-item-custom.active {
    opacity: 1;
    transform: scale(1);
    display: block;
}
.carousel-img-box {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 5px dashed #262626;
    border-radius: 50%;
    overflow: hidden;
}
.carousel-img-box img {
    width: 100%;
}
.carousel-caption-custom h3 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-family: 'Allura', cursive;
    color: #262626;
    text-shadow: none;
}
.carousel-caption-custom h4 {
    color: #2b2626;
    text-shadow: none;
}
.carousel-caption-custom p {
    font-size: 16px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: none;
    color: #2b2626;
}
.carousel-indicators-custom {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.carousel-indicators-custom li {
    background-color: #ddd;
    width: 50px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}
.carousel-indicators-custom .active-custom {
    background-color: #2b2626;
    width: 20px;
}
.carousel-control-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.carousel-control-left {
    left: 10px;
}
.carousel-control-right {
    right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .carousel-caption-custom h3 {
        font-size: 24px;
    }
    .carousel-caption-custom p {
        font-size: 14px;
        width: 90%;
    }
}
@media (max-width: 480px) {
    .carousel-caption-custom h3 {
        font-size: 20px;
    }
    .carousel-caption-custom p {
        font-size: 12px;
        width: 100%;
    }
}
